.title_search_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
}
.title_search_container h3 {
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 44.53px;
  color: var(--gray);
}
.title_search_input_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 291px;
    border: 0.5px solid var(--gray);
    border-radius: 6px;
    padding: 8px 15px;
}
.title_search_input_div input{
    border: none;
    outline: none;
}
