.title_card {
  background: rgba(255, 255, 255, 1);
  padding: 10px 10px 0px 10px;
  border-radius: 6px;
  position: relative;
  min-height: 46px;
  min-width: 227px;
}
.title_card h4 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 23.44px;
  color: rgba(0, 0, 0, 1);
}
